<% provide(:title, "Se connecter") %>
<h1>Se connecter</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password, "Mot de passe" %>
      <%= f.password_field :password %>

      <%= f.submit "Se connecter", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>Nouveau cyclo ? <%= link_to "Inscrivez-vous maintenant !", signup_path %></p>
  </div>
</div>