<div>
  <%= link_to(circuit) do %>
      <div class="span1"><%= circuit.description %></div>
      <div class="span1"><%= circuit.direction %></div>
      <div class="span1"><%= circuit.longueur.to_s + ' km' %></div>
      <div class="span1"><%= circuit.difficulte %></div>
      <div class="span1"><%= circuit.denivele.to_s + ' m' %></div>
  <% end %>
</div>
<% if !current_user.nil? && current_user.admin? %>
    <div class="span1 editer"><%= link_to "Editer", edit_circuit_path(circuit) %></div>
    <div class="span1 supprimer">
      <%= link_to "Supprimer", circuit, method: :delete, data: {confirm: "Êtes vous sûr ?"} %>
    </div>
<% end %>
<br/>