<%= provide(:title, "Création d'un nouveau circuit") %>
<h1>Création d'un nouveau circuit</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@circuit) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :description, "Nom" %>
        <%= f.text_field :description %>

        <%= f.label :direction, "Direction" %>
        <%= f.text_field :direction %>

          <%= f.label :longueur, "Longueur" %>
         <%= f.text_field :longueur %>

         <%= f.label :denivele, "Dénivelé" %>
         <%= f.text_field :denivele %>

          <%= f.label :difficulte, "Difficulté" %>
          <%= f.text_field :difficulte %>

      <%= f.submit "Créer le circuit", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>