<%= link_to(programmation) do %>
    <div class="span1"><%= programmation.le.strftime("%d/%m/%Y") %></div>
    <div class="span1"><%= programmation.le.strftime("%T") %></div>
    <div class="span1"><%= programmation.groupe %></div>
<% end %>
<div class="span5 programmation_nom">
  <%= link_to(programmation.programme) do %>
      <%= programmation.programme.nom %>
  <% end %>
</div>
<div class="span2 supprimer">
  <% if current_user.admin? %>
      <%= link_to "Supprimer", programmation, method: :delete, data: {confirm: "Êtes vous sûr ?"} %>
  <% end %>
</div>
<br/>
<div class="row">
  <div class="span5 offset3"><%= markdown programmation.observations %></div>
</div>
