<% provide(:title, @programmation.programme.nom) %>
<h1>Rendez-vous CCC : <%= @programmation.programme.nom %></h1>
<div class="row">
  <div class="span2 center">
    Identifiant
  </div>
  <div class="span2 center">
    Date
  </div>
  <div class="span2 center">
    Heure
  </div>
  <div class="span2 center">
    Groupe
  </div>
  <div class="span2 center">
    Nom
  </div>
</div>
<div class="row">
  <div class="span2 center">
    <%= @programmation.id %>
  </div>
  <div class="span2 center">
    <%= @programmation.le.strftime("%d/%m/%Y") %>
  </div>
  <div class="span2 center">
    <%= @programmation.le.strftime("%T") %>
  </div>
  <div class="span2 center">
    <%= @programmation.groupe %>
  </div>
  <div class="span2 center">
    <%= @programmation.programme.nom %>
  </div>
</div>
<br/>
<div class="row">
  <div class="span12">
    <h1>Observations</h1>
  </div>
</div>
<div class="row">
  <div class="span12">
    <%= markdown @programmation.observations %>
  </div>
</div>
<br/>
